node_modules
npm-debug.log
yarn-error.log

# Logs e arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Builds locais
dist
build
coverage

# Docker e Compose
docker-compose*.yml
Dockerfile*

# Arquivos de ambiente locais
.env
